<div class="footer">
  <h6>
    Made by <a href="https://discordapp.com/users/627543270985170958" target="_blank">! Louis Code</a>
    with <i class="fas fa-heart" style="color: red"></i>
  </h6>
</div>