<div class="loader-container">
  <div class="loader"></div>
  <img src="https://cdn.discordapp.com/attachments/868889259816386631/873973886608359484/gB6Q34lUWZLUwAAAABJRU5ErkJggg.png" class="loader-img">
</div>